.pic1 {
    width: 100%;
    height: 800px;
    background: cover no-repeat;
    margin-top: 0%;
    padding: 0%;
    border-radius: 0% 0%;
}

.bodyContent button{
    background-color: #FFA500;
    width: 100%;
    border-radius: 0%;
    font-size: 900%;
    padding: 0%;

}

.testimonies{
    background-image: url(../assests/bodypic2.png) ;
    background-blend-mode: lighten;

}