.profile-pla{
    background-color: #FFA500;
    margin-top: 20px;
    width: 30%;
    border-radius: 30px;
    margin-left: 30%;
    padding: 30px;
    
    
}

.progress-cont{
    background-color: #FFA500;
    width: 30%;
    margin-top: 30px;
    margin-left: 30%;
    padding: 30px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}



.profile-cont progress{
    background-color: black;
}

.profile-cont{
    flex: 1;
}


.workout-box{
    background-color: #FFA500;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    padding: 50px;
    margin-left: 20%;
    border-radius: 30px;
    height: 600px;
    overflow-y: auto;
    
}




.displayWrk {

    background-color: #FFA500;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    width: 30%;
    text-decoration: none;
    padding: 30px;
    margin-top: 30px;
    margin-left: 30%;

}

.displayWrk ul{
    list-style-type: none;
}

.delbutton{
    background-color: red;
    color: yellow;
    border-radius: 30px;
    gap: 1px;
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.content h2{
    text-decoration:underline;
}