
.header-cont{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #FFA500;
    
}

.navbtn-cont{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex: 1;
    
    
}

button{
    border: none;
    font-size: 20px;
    color: purple;
    border-radius: 20%;
    background: none;
    transition: all 0.3s ease-in-out;

}

button:hover{
    transform: scale(1.1);
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.content-cont1{
    display: flex;
    width: 100%
}

.titanic{
    margin-bottom: 80px;
    margin-left: 50px;
    
}

.logoName{
    display: flex;
    font-size: 30px;
    align-items: center;
    width: 100%;
    /* position: absolute;  */
     /* left: 40%; */
    flex: 1;
    justify-content: center;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    transition: all 0.3s ease-in-out;
}

img{
    padding:  30px 5px;
    width: 80px;
    height: 8%;
    border-radius: 20px;
}

.logoName:hover{
    transform: scale(1.1);
}

@media (max-width:1357px){
    .header-cont{
        
        display: flex;
      flex-direction: column;
    }

    .navbtn-cont{
        
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
}