.content-cont{
    background-color: #FFA500;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    text-decoration: none;
    align-items: center;
    margin-top: 10px;
    max-width: 15%;
    
    
}

.content-cont img{
    width: 200px;
    height: auto;
}

.blog-cont{
    margin: 0;
    padding: 0;
}

.profile-btn{
    
    background-color: aqua;
    border-radius: 50%;
    
    margin-right: 5%;
    font-size: 200%;
}